@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #424242;
  --dark-color: #212121;
}

body {
  color: var(--primary-color);
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

